<div class="row">
  <% @games.each do |game| %>
    <%= link_to game_path(game) do %>
      <div class="col-xs-12">
        <div class="card">
  <!--         Check if the game is full and return the card-picture accordingly -->
        <% if game.bookings.length == 2 %>
        <div class=filter-full">
          <span class="full-sticker"><p>Full</p></span>
          <div class="avatar-small"><%= game.creator.photo_fake %></div>
          <h2><%= game.metro_station %></h2>
          <h4><%= game.date.strftime('%a %d %b %Y') %>, <%= game.time.strftime('%l:%Mpm') %></h4>
          <p>Number of players: <strong><%= game.number_of_players / 2 - 1 %> x <%= game.number_of_players / 2 - 1 %></strong></p>
            <p>Price: <%= humanized_money_with_symbol(game.price) %></p>
        </div>
        <% else %>
        <div class="card-item game-creator">
          <div class="avatar-medium creator" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= game.creator.photo_fake %>);"></div>
          <p>Created by<br><strong><%= game.creator.first_name %></strong></p>
        </div>
          <div class="card-item game-date">
            <i class="far fa-calendar-alt"></i>
            <p><%= game.date.strftime('%a %d %b %Y') %></p>
          </div>
          <div class="card-item game-time">
            <i class="far fa-clock"></i>
            <p><%= game.time.strftime('%l:%Mpm') %></p>
          </div>
          <div class="card-item game-location">
            <i class="fas fa-map-marker-alt"></i>
            <p><%= game.metro_station %></p>
          </div>
          <div class="card-item">
            <i class="fas fa-euro-sign"></i>
            <p><%= humanized_money_with_symbol(game.price) %></p>
          </div>
          <div class="card-item number-of-players">
            <p><%= game.bookings.length %> / <%= game.number_of_players %></strong></p>
          </div>
<!--   <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= game.photo %>);"> -->
        <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


