<div class="container">
  <div class="row">
    <% @games.each do |game| %>

      <%= link_to game_path(game) do %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= game.photo %>);">
                <h2><%= game.location %></h2>
            </div>
            <div class="card-category"><%= game.date.strftime('%a %d %b %Y') %>
                <p>Number of players: <%= game.number_of_players / 2 - 1 %> x <%= game.number_of_players / 2 - 1 %></p>
            </div>
          </div>
        </div>
        <% end %>

    <% end %>
  </div>
</div>
