<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-design">
        <h2>Create a game</h2>
        <%= simple_form_for(@game) do |f| %>
          <div class="form-inputs">
            <%= f.label "Date", required: true %>
            <br>
            <input type="text" id="basicDate" placeholder="Please select Date Time" data-input>
            <%= f.input :metro_station, required: true, :collection => ["Campo Pequeno", "Praça de Espanha", "Olaias", "Anjos"] %>
            <%= f.input :number_of_players, required: true, :collection => [12, 14, 16], hint: "* Remember to add one substitute per team" %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Create game", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
