<div class="container">
  <div class="col-xs-12 col-sm-6">
    <h4>This game will take place <strong><%= @game.date.strftime('%a %d %b %Y') %></strong> at <strong><%= @game.date.strftime('%I:%M pm') %></strong> at this location:</h4>
    <h4><%= @game.location %></h4>
    <p>Number of players: <%= @game.number_of_players / 2 - 1 %> x <%= @game.number_of_players / 2 - 1 %></p>
  </div>
</div>
