<div class="col-xs-12 col-sm-6">
<!-- Game information -->
    <h4>This game will take place <strong><%= @game.date.strftime('%a %d %b %Y') %></strong> at <strong><%= @game.date.strftime('%I:%M pm') %></strong> at this location:</h4>
    <h4><%= @game.location %></h4>
    <p>Number of players: <%= @game.number_of_players / 2 - 1 %> x <%= @game.number_of_players / 2 - 1 %></p>

<!--   Check if user is already registered for the game, join the game -->
<% players = @game.bookings.to_a.map { |booking| booking.user } %>
<% if players.include?(current_user) %>
  <p>You're already registered for this game</p>
<% elsif players.length >= @game.number_of_players %>
  <p>This game is already full</p>
<% else %>
  <%= simple_form_for [@game, @booking] do |f| %>
    <div class="form-actions">
        <%= f.button :submit, 'Join this game', class: "btn btn-primary" %>
      <% end %>
    </div>
<% end %>
</div>

<!-- Right section -->
<div class="col-xs-12 col-sm-6 players-list">
  <h2>Lists of players:</h2>
  <%= render 'players_list' %>
</div>

