<h1>Purchase of Game <%= @booking.game_id %></h1>
<%= form_tag booking_payments_path(@booking) do %>
  <article>
    <label class="price">
      <span>price: <%= humanized_money_with_symbol(@booking.price) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My game"
    data-email="<%= current_user.email %>"
    data-description="game <%= @booking.game_id %>"
    data-price="<%= @booking.price_cents %>"
    data-currency="<%= @booking.price.currency %>"></script>
<% end %>
